@{
    ViewBag.Title = "Typography with Materialized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12 m12 l12">
        <h1>Headers</h1>
        <p>Tamaños entre las diferentes etiquetas de encabezado</p>
        <h1>Heading h1</h1>
        <h2>Heading h2</h2>
        <h3>Heading h3</h3>
        <h4>Heading h4</h4>
        <h5>Heading h5</h5>
        <h6>Heading h6</h6>
        <hr />
        <h1>Blockquotes</h1>
        <blockquote>
	  Este es un comentario mostrado en la etiqueta blockquate
        </blockquote>
        <hr />
        <p class="text-lighten-4">los tipos de letra utilizados por Materialized son los provistos por Robot de Google para mayor informacion buscar en google.com</p>
    </div>
</div>