@Styles.Render("~/Content/bootstrap-social.css")
<link href="~/Content/bootstrap-social.css" rel="stylesheet" />
<!-- For more information about the social icons you can visit https://lipis.github.io/bootstrap-social/ -->
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-lg btn-social-icon btn-twitter">
            <span class="fa fa-twitter"></span>
        </a>
        <a class="btn btn-lg btn-social-icon btn-facebook">
            <span class="fa fa-facebook"></span>
        </a>
        <a class="btn btn-lg btn-social-icon btn-linkedin">
            <span class="fa fa-linkedin"></span>
        </a>
        <a class="btn btn-lg btn-social-icon btn-google" >
            <span class="fa fa-google-plus"></span>
        </a>
        <a class="btn btn-lg btn-social-icon btn-reddit">
            <span class="fa fa-reddit"></span>
        </a>
        <a class="btn btn-lg btn-social-icon btn-microsoft">
            <span class="fa fa-windows"></span>
        </a>
    </div>
</div>
