writhe <a href=" blazor">Repo Original</a>

writhe <a href=" blazor">Link</a>

writhe <a href=" blazor">Mario Botero</a>

@inherits MudComponentBase
@using MudBlazor

@using MudBlazor.Components

@using System
@using System.ComponentModel.DataAnnotations

@using Microsoft.AspNetCore.Components
<MudTextField T="DateTime" @bind-Value="Hour2" Label="Select Hour" InputType="InputType.Time" Format="HH:mm:ss" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.AccessTime">
    <ValidationMessage For="@(() => Hour2)" />
</MudTextField>

<h1>@Hour2</h1>


@code {
    
    private DateTime Hour2 { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Hour2 == default)
        {
            Hour2 = DateTime.Now;
        }
    }
}